@import "tailwindcss";

@theme {
  --color-primary: #2e72c2;
  --color-primary-dark: #1a4a8a;
  --color-primary-light: #a2b4d7;
  --color-secondary: #cbb2b9;
  --color-bg: #f5f7fa;
  --color-text: #1a2138;
  --color-text-secondary: #566d92;
}
